@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: spinner .6s linear infinite;
  box-sizing: border-box;
  border-radius: 50%;
  border: 2px solid #ccc;
  border-top-color: #000;
  height: 20px;
  position: absolute;
  right: 20px;
  width: 20px;
}